version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: musicbridge
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-rowa_user} -d ${POSTGRES_DB:-rowa_db}" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: